.container {
    width: 20px;
    height: 20px;
    background: #ffffff;
    position: fixed;
    clip-path: polygon(0 0, 90% 50%, 40% 55%, 20% 100%);
    z-index: 9999;
    transform: translate(2px, 2px);
}
